@import 'bulma/css/bulma.min.css';

#root {
  text-align: center;
  line-height: 5vh;
  min-height: 100vh; 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  height: 44vh;
}

.read-the-docs {
  color: #888;
}

body{
  background-color: black;
}

.social-links a {
  color: #7e8489; 
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.5s; /* Duration of the transition */
  transition-property: color; /* Properties to transition */
  margin: 17px;;

}

.social-links a:hover {
  color: #ff9900; 
}

Footer{
margin-top: 5vh;
}

.card-image-container {
  position: relative;
  overflow: hidden;
  height: 21vh;
}

.card-image {
  width: 100%;
  height: 200%;
  transition: transform 0.3s ease-in-out;
}

.card-content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .card-image {
  transform: scale(1.1);
}

.card:hover .card-content-overlay {
  opacity: 1;
}

/* Navbar */
.navbar {
  background-color: #847979;
  color: #699a84;

}

/* Navbar brand */
.navbar-brand {
  font-size: 1.5rem; 
}

/* Navbar items */
.navbar-item {
  color: #fff; 
  transition: background-color 0.3s; 
}

/* Navbar items hover */
.navbar-item:hover {
  background-color: #555; 
}

.container.is-fluid {
  margin-top: 7vh;
}

@media print, screen and (min-width: 769px) {
  .column.is-one-third, .column.is-one-third-tablet {
      flex: none;
      width: 46vh;
      height: 55vh;
  }
}

.card-content:last-child, .card-footer:last-child, .card-header:last-child {
  border-end-end-radius: var(--bulma-card-radius);
  border-end-start-radius: var(--bulma-card-radius);
  margin-top: 5vh;
}

.experience {
  background-color: #241;
  border-radius: 11px;
  margin-top: 13vh;
  line-height: 8vh;
}

@media print, screen and (min-width: 769px) {
  .column.is-6, .column.is-6-tablet {
      flex: none;
      width: calc(50% - var(--bulma-column-gap) / 2);
      line-height: 10vh;
      font-size:large;
  }
}

.presentation {
  margin-top: 110px;
  margin-left: 5vh;
}

.skills {
  margin-top: 80px;
  margin-left: 5vh;
  font-size: xx-large;
}

.image img {
  display: block;
  height: auto;
  width: 100%;
  margin-top: 15vh;
}

.skills-list{
  line-height: 8vh;
}

p {
  color: #debbe5;
  font-size: xx-large;
}

@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
      display: block;
      width: -webkit-fill-available;
  }
}